@using CRMEsar.Models.ViewModels;
@using CRMEsar.Models.ViewModels.Login
@model ValidarResetPassword

@{
    ViewData["Title"] = "Validar usuario resetPassword";
}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="d-flex flex-column flex-lg-row shadow-lg rounded overflow-hidden w-100 align-items-stretch" style="max-width: 1140px; background: rgba(255, 255, 255, 0.95);">

        <!-- Carrusel -->
        @await Html.PartialAsync("_SliderVP", Model.Slider)

        <!-- Login -->
        <div class="col-lg-5 p-4 bg-white d-flex flex-column justify-content-center">
            <div class="text-center mb-3">
                <img src="~/img/login/LogoLogin.png" alt="Logo Fundación Orientame" style="max-height: 80px;" />
            </div>
            <p class="text-center text-muted">Para proteger tu cuenta, debes completar la siguiente información antes de reestablecer tu contraseña:</p>

            <form method="post" asp-controller="Home" asp-action="ResetPassword">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Email">Correo electrónico</label>
                    <input type="text" asp-for="Email" class="form-control" placeholder="TuCorreo@correo.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NumeroDocumento">Número de documento</label>
                    <input type="text" asp-for="NumeroDocumento" class="form-control" placeholder="0000" />
                    <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn bg-morado-Esar text-white">Verificar <i class="fas fa-user-secret" style="color: #ffffff;"></i></button>
                </div>
                <br />
                <p class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-muted">Volver al inicio</a><br />

                </p>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}