@using CRMEsar.Models.ViewModels;
@using CRMEsar.Models.ViewModels.Login
@model ResetPasswordDirectoVM

@{
    ViewData["Title"] = "Reset Password";
}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="d-flex flex-column flex-lg-row shadow-lg rounded overflow-hidden w-100 align-items-stretch" style="max-width: 1140px; background: rgba(255, 255, 255, 0.95);">

        <!-- Carrusel -->
        @await Html.PartialAsync("_SliderVP", Model.Slider)

        <!-- Login -->
        <div class="col-lg-5 p-4 bg-white d-flex flex-column justify-content-center">
            <div class="text-center mb-3">
                <img src="~/img/login/LogoLogin.png" alt="Logo Fundación Orientame" style="max-height: 80px;" />
            </div>
            <p class="text-center text-muted">
                ¡Hola! Hemos validado tu información correctamente. Para continuar con el proceso, ingresa tu nueva contraseña.
                Ten en cuenta que debe incluir mayúsculas, minúsculas, números y caracteres especiales.
            </p>

            <form method="post" asp-controller="Home" asp-action="ResetPasswordDirecto">
                <input type="hidden" asp-for="UserId" />
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Password">Contraseña</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="123Aa*_-" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword">Confirmar contraseña</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="0000" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn bg-morado-Esar text-white"> Reestablecer contraseña </button>
                </div>
                <br />
                <p class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-muted">Volver al inicio</a><br />

                </p>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}